@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
	color: $bgMain;
}

@import 'dashboard';
@import 'home';
@import 'login_window';
@import 'form';
@import 'button';